/* Header */
header {
	background-color: #404040;
	padding: 2px;
	color: white;
}
header h1 {
	color: white;
}
header a, header a:hover {
	color: white;
	font-weight: bold;
}

/* Titles */
h1, h2, h3 {
	color: #404040;
	line-height: 36px;
	margin: 0px;
	padding: 0px;
}
h1 {
	margin-bottom: 18px;
	font-size: 36px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}

/* Main page */
body {
	font-family: "Cantarell", Cantarell,
	             "Helvetica Neue", Helvetica,
	             "Hiragino Sans GB", Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #737373;
	margin: 0px;
}
main {
	margin: 10px;
}
hr {
	margin: 0 0 19px;
	border: 0;
	border-bottom: 1px solid #ccc;
}
p {
	margin: 0px;
	padding: 0px;
	margin-bottom: 9px;
}
kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 10px;
	color: #555;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: solid 1px #ccc;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}
.header_icon {
	float:right;
}

/* Style classes to get collapsable columns */
.responsive-row {
	display: flex;
}
.col50, .col33, .col66 {
	padding: 5px;
}
.col50 {
	width: 50%;
}
.col33 {
	width: 33.3%;
}
.col66 {
	width: 66.6%;
}

@media (max-width: 576px){
	header a {
		font-size: 20px;
		line-height: 32px;
	}
	.responsive-row {
		display: flex;
		flex-direction: column;
	}
	.col50, .col66, .col33 {
		width: 100%;
	}
	.header_icon {
		display: none;
	}
}

@media screen and (min-width: 914px) {
	main, .header_box {
		width: 854px;
		margin: 10px auto;
	}
}

