/* Header & footer */
header, footer {
	background-color: #404040;
	padding: 2px;
	color: white;
}
header h1 {
	color: white;
}
.nav-row {
	margin: 0 -5px;
}
.col33.nav-item {
	font-weight: bold;
	padding: 8px 12px;
	border: 2px solid white;
	border-radius: 24px;
	text-align: center;
	margin: 0 5px;
}
.col33.nav-item a {
	color: white;
}
.nav-item.primary-nav-item {
	background-color: rgba(255,0,0,0.5) ;
}
.nav-item:hover {
	background-color: white;
}
.nav-item:hover a {
	color: black;
}
.header-icon {
	float:right;
}

/* Titles */
h1, h2, h3, h4, summary {
	color: #404040;
	line-height: 36px;
	margin: 0px;
	padding: 0px;
}
h1 {
	margin-bottom: 18px;
	font-size: 36px;
}
h2 {
	font-size: 24px;
	padding-top: 8px;
}
h2::before {
	padding-right: 8px;
	content: "🖍";
}
h3, summary {
	font-size: 20px;
}
h4 {
	font-size: 16px;
}

/* Main page */
body {
	font-family: "Cantarell", Cantarell,
	             "Helvetica Neue", Helvetica,
	             "Hiragino Sans GB", Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #373737;
	margin: 0px;
}
main {
	margin: 10px;
}
hr {
	margin: 0 0 12px;
	border: 0;
	border-bottom: 1px solid #ccc;
}
p {
	margin: 0px;
	padding: 0px;
	margin-bottom: 9px;
}
kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 11px;
	line-height: 10px;
	color: #555;
	vertical-align: middle;
	background-color: #fcfcfc;
	border: solid 1px #ccc;
	border-bottom-color: #bbb;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 #bbb;
}
.limited-image {
	width: 90%;
	max-width: 350px;
}
.description p, p.description {
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 16px;
}

/* Style classes to get collapsible columns */
.responsive-row {
	display: flex;
}
.col50, .col33, .col66 {
	padding: 5px;
}
.col50 {
	width: 50%;
}
.col33 {
	width: 33.3%;
}
.col66 {
	width: 66.6%;
}

/* Style classes to get tabs */
input[type="radio"], .tab {
	display: none;
}

#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3 {
	display: block;
}

input[type="radio"] + label {
	display: inline-block;
	border: 1px solid #999;
	background: #EEE;
	padding: 4px 10px;
	border-radius: 4px 4px 0 0;
	position: relative;
	top: 1px;
	/* text-align: center; */
}
input[type="radio"]:checked + label {
	background: #FFF;
	border-bottom: 1px solid transparent;
}
input[type="radio"] ~ .tab {
	border: 1px solid #999;
	padding: 12px;
	box-shadow: 5px 5px 10px black;
}

.zoomable-img-100 {
	width: 100%;
}
.zoomable-img-100:active {
	width: unset;
	position: fixed;
	max-width: 90%;
	max-height: 90%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

/******************************************************************************/

@media (max-width: 576px) {
	/* Header & footer */
	.header-box a {
		font-size: 20px;
		line-height: 32px;
	}
	.header-icon {
		display: none;
	}

	/* Collapsible columns */
	.responsive-row {
		display: flex;
		flex-direction: column;
	}
	.col50, .col66, .col33 {
		width: auto;
	}
	.header-box .col66, .header-box .nav-item.col33 {
		margin-top: 5px;
	}

	/* Images */
	.zoomable-img-100:active {
		width: 100%;
		position: static;
		max-width: unset;
		max-height: unset;
		left: 0;
		top: 0;
		transform: none;
		z-index: auto;
	}

	/* Tabs */
	label h4 {
		font-size: 16px;
		line-height: 24px;
	}
	input[type="radio"] + label {
		padding: 4px 4px;
	}
}

@media screen and (min-width: 914px) {
	main, .header-box {
		width: 854px;
		margin: 10px auto;
	}
}

